<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>
    <style type="text/css">
      .show-read-more .more-text {
        display: none;
      }
      .read-more {
        color: #1c94d0;
      }

    </style>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:55%;">
                <h3>
                  <i class="fa fa-bullhorn notices-icon"></i>Notices</h3>
              </div>

              <div class="title_right" style="width:45%;">
                <div class="col-xs-12 pull-right">
                  <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-notice" style="float:right">
                    <i class="fa fa-plus-circle" style="padding-right:8px;"></i>Add New Notice</button>
                </div>
              </div>
              <!-- title right -->
            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="x_panel" style="padding:24px 13px;">

              <div class="clearfix"></div>
              <% if (error) { %>
              <h3> <%= message %> </h3>
              <% } else if (!error && data.length == 0) { %>
              <h2 class="jumbotron text-center"> No notices found </h2>
              <% } else { %>
                <% for ( var i = 0; i < data.length; i++) { %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="x_panel notices-padding">
                    <div class="x_title thin-border">
                      <div class="row notices">
                        <div class="col-xs-10 col-sm-10 col-md-10" style="white-space: inherit; word-break: break-all; line-height: 1.3;">
                          <p><%= data[i].subject %></p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <i class="fa fa-edit hover-pointer" onclick="setCurrentlyEditingNoticeId('<%= data[i]._id %>')" data-toggle="modal" data-target="#modal-edit-notice-<%= data[i]._id %>" ></i>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="notification-content">
                        <p class="show-read-more"><%= data[i].content %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- modal edit noptice -->
                <div id="modal-edit-notice-<%= data[i]._id %>" class="modal modal-edit-notice fade bs2-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">Edit Notice</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row notice-modal">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                              <select class="form-control" id="notice-target-<%= data[i]._id %>" name="notice-target" style="color: #555">
                                <option value=""  class='chosen-target' data-target-all="1"
                                <% if (data[i].targetAt === undefined || data[i].targetAt === null) {%> selected <% }%>>
                                  TARGET ENTIRE SOCIETY
                                </option>
                                <option disabled>---------------</option>
                                <% targets.forEach(function (target) { %>
                                  <option value="" class='chosen-target' data-block="<%= target.block %>" data-flat-no="<%= target.flatNo %>"  <% if (data[i].targetAt !== undefined && data[i].targetAt !== null && (data[i].targetAt.block == target.block && data[i].targetAt.flatNo == target.flatNo )) {%> selected <% } %>>
                                    Block: <%= target.block %>, Flat No: <%= target.flatNo %>
                                  </option>
                                <% }) %>
                              </select>
                            </div>
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" id="notice-subject-<%= data[i]._id %>" name="notice-subject" placeholder="Enter Subject" value="<%= data[i].subject %>">
                            </div>
                            <div class="form-group has-feedback">
                              <textarea id="notice-desc-<%= data[i]._id %>" name="notice-desc" class="form-control" rows="5" placeholder="Subject Description"><%= data[i].content %></textarea>
                            </div>
                            <div class="form-group has-feedback">
                              <div class='col-xs-12'>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" class='publish-now' checked="checked" id="publish-now-<%= data[i]._id %>" data-edit-id="<%= data[i]._id %>" />
                                    Publish Now
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="row" style="margin:0 -10px 15px 0; display: none;" id="publish-later-edit-<%= data[i]._id %>">
                              <label>Publish Later on Date:</label>
                              <div class="form-group has-feedback notice-reminder">
                                <div class="col-xs-12" style="padding-left:0">
                                  <%# %>
                                  <input type="text" class="form-control has-feedback-left datetimepicker" id="notice-reminder-date-<%= data[i]._id %>" name="notice-reminder-date" placeholder="Publish Date" value="<%= data[i].reminderDate %>">
                                  <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <%# <div class="col-xs-6" style="padding-right:0"> <input type="text" class="form-control has-feedback-left" id="notice-reminder-time" name="notice-reminder-time" placeholder="Reminder Time"> <span class="fa fa-clock-o form-control-feedback left"
                                aria-hidden="true" style="left:9px;"></span> </div>%>
                              </div>
                            </div>
                            <div class="text-center">
                              <button class="edit-notice-btn btn btn-success">Save</button>
                            </div>
                          </div>

                        </div>
                        <!-- notice-modal -->
                      </div>
                      <!-- modal-body -->

                    </div>
                    <!-- modal-content -->
                  </div>
                </div>
                <!-- /modal edit noptice -->
                <% } %>
              <% } %>

              <!-- col-md-4 -->

              <!-- add-notice modal -->
              <div id="modal-add-notice" class="modal fade bs2-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel2">Add Notice</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row notice-modal">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group has-feedback">
                            <%# <div class='col-sm-3'>
                              <label>Target:</label>
                            </div>%>
                            <%# <div class='col-sm-9'>%>
                              <select class="form-control" id="notice-target" name="notice-target" style="color: #555">
                                <option value=""  class='chosen-target' data-target-all="1">TARGET ENTIRE SOCIETY</option>
                                <option disabled>---------------</option>
                                <% targets.forEach(function (target) { %>
                                  <option value="" class='chosen-target' data-block="<%= target.block %>" data-flat-no="<%= target.flatNo %>">
                                    Block: <%= target.block %>, Flat No: <%= target.flatNo %>
                                  </option>
                                <% }) %>
                              </select>
                            <%# </div>%>
                          </div>
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="notice-subject" name="notice-subject" placeholder="Enter Subject">
                          </div>
                          <div class="form-group has-feedback">
                            <textarea id="notice-desc" name="notice-desc" class="form-control" rows="5" placeholder="Subject Description"></textarea>
                          </div>
                          <div class="form-group has-feedback">
                            <div class='col-xs-12'>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" id='publish-now' checked="checked" />
                                  Publish Now
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="margin:0 -10px 15px 0; display: none;" id="publish-later">
                            <label>Publish Later on Date:</label>
                            <div class="form-group has-feedback notice-reminder">
                              <div class="col-xs-12" style="padding-left:0">
                                <input type="text" class="form-control has-feedback-left datetimepicker" id="notice-reminder-date" name="notice-reminder-date" placeholder="Publish Date">
                                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                              </div>
                              <%# <div class="col-xs-6" style="padding-right:0"> <input type="text" class="form-control has-feedback-left" id="notice-reminder-time" name="notice-reminder-time" placeholder="Reminder Time"> <span class="fa fa-clock-o form-control-feedback left"
                              aria-hidden="true" style="left:9px;"></span> </div>%>
                            </div>
                          </div>
                          <div class="text-center">
                            <button id="add-new-notice-btn" class="btn btn-success">Save</button>
                          </div>
                        </div>

                      </div>
                      <!-- notice-modal -->
                    </div>
                    <!-- modal-body -->

                  </div>
                  <!-- modal-content -->
                </div>
              </div>
              <!-- add-notice modal --->

            </div>
            <!-- /page content -->

            <!-- footer content
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        <!-- /footer content -->
          </div>
        </div>
        <!-- right_col -->

        <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed-notifications="notif-group"></ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
        </div>
      </div>
      <!-- main container -->
    </div>
    <!-- container body -->

    <%- include('../common/javascripts'); %>

    <script type="text/javascript">
      var editingNoticeId = null;
      var setCurrentlyEditingNoticeId = function (id) {
        editingNoticeId = id;
        // console.log(editingNoticeId);
      };
      $(document).ready(function () {
        // date time picker
        $(".datetimepicker").datetimepicker({format: 'DD/MM/YYYY HH:mm'});

        $(".publish-now").change(function (e) {
          var id = $(this).data('edit-id');
          var nearest = $('#publish-later-edit-'+id);
          if ($(this).is(':checked')) {
            nearest.hide();
          } else {
            nearest.show();
          }
        });
        $("#publish-now").change(function (e) {
          var id = $(this).data('edit-id');
          var nearest = $('#publish-later-edit-'+id);
          if ($(this).is(':checked')) {
            $('#publish-later').hide();
          } else {
            $('#publish-later').show();
          }
        });

        var maxLength = 230;
        $(".show-read-more").each(function () {
          var myStr = $(this).text();
          if ($.trim(myStr).length > maxLength) {
            var newStr = myStr.substring(0, maxLength);
            var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
            $(this).empty().html(newStr);
            $(this).append(' <a href="javascript:void(0);" class="read-more">Read More</a>');
            $(this).append('<span class="more-text">' + removedStr + '</span>');
          }
        });
        $(".read-more").click(function () {
          $(this).siblings(".more-text").contents().unwrap();
          $(this).remove();
        });

        // POST new notice
        var postNewNotice = function () {
          var publishDate = ($('#publish-now').is(':checked')) ? '<%= moment().format('DD/MM/YYYY HH:mm') %>' : $("#notice-reminder-date").val();

          var targetEl = $('#notice-target').find('option:selected');
          var target = null;
          if (targetEl.data('target-all') !== '1') {
            target = {
              block: targetEl.data('block'),
              flatNo: targetEl.data('flat-no')
            }
          }

          $.ajax({
            url: "/admin/notices",
            method: "POST",
            data: {
              subject: $("#notice-subject").val(),
              content: $("#notice-desc").val(),
              reminderDate: publishDate,
              targetAt: target
              // societyId: '123456789'
            },
            success: function (result) {
              if (result.error) {
                alert('oops')
                console.log(result.error);
              } else {
                // alert('yaay')
                window.location.reload();
              }
            }
          });
        };
        // PUT (Edit) notice
        var putNewNotice = function () {
          // alert("editing "+editingNoticeId);
          var id = editingNoticeId;
          var publishDate = ($('.publish-now[data-edit-id="'+id+'"]').is(':checked')) ? '<%= moment().format('DD/MM/YYYY HH:mm') %>' : $("#notice-reminder-date-"+id).val();

          var targetEl = $('#notice-target-'+id).find('option:selected');
          var target = null;
          if (targetEl.data('target-all') !== '1') {
            target = {
              block: targetEl.data('block'),
              flatNo: targetEl.data('flat-no')
            }
          }

          $.ajax({
            url: "/admin/notices",
            method: "PUT",
            data: {
              id: id,
              subject: $("#notice-subject-"+id).val(),
              content: $("#notice-desc-"+id).val(),
              reminderDate: publishDate,
              // societyId: '123456789'
              targetAt: target
            },
            success: function (result) {
              if (result.error) {
                alert('oops')
                console.log(result.error);
              } else {
                // alert('yaay')
                setCurrentlyEditingNoticeId(null);
                window.location.reload();
              }
            }
          });
        };
        $("#add-new-notice-btn").click(function (e) {
          e.preventDefault();
          // Validations
          var subV = $("#notice-subject").val();
          var descV = $("#notice-desc").val();
          if (!validateRequired(subV) || !validateRequired(descV)) {
            new PNotify({
              title: 'Validation Failed',
              text: 'Please enter Subject & Description',
              type: 'error',
              nonblock: {
                nonblock: true,
                nonblock_opacity: .2
              }
            });
            return false;
          }
          if (!$('#publish-now').is(':checked') && !$("#notice-reminder-date").val()) {
            new PNotify({
              title: 'Validation Failed',
              text: 'Please choose a Publish Later Date or Check the Publish Now box',
              type: 'error',
              nonblock: {
                nonblock: true,
                nonblock_opacity: .2
              }
            });
            return false;
          }
          // /end validations
          $(this).prop( "disabled", true );
          postNewNotice();
          $("#modal-add-notice").modal('hide');
        });

        $(".edit-notice-btn").click(function (e) {
          e.preventDefault();
          var id = editingNoticeId;
          // Validations
          var subV = $("#notice-subject-"+id).val();
          var descV = $("#notice-desc-"+id).val();
          if (!validateRequired(subV) || !validateRequired(descV)) {
            new PNotify({
              title: 'Validation Failed',
              text: 'Please enter Subject & Description',
              type: 'error',
              nonblock: {
                nonblock: true,
                nonblock_opacity: .2
              }
            });
            return false;
          }
          if (!$('#publish-now-'+id).is(':checked') && !$("#notice-reminder-date-"+id).val()) {
            new PNotify({
              title: 'Validation Failed',
              text: 'Please choose a Publish Later Date or Check the Publish Now box',
              type: 'error',
              nonblock: {
                nonblock: true,
                nonblock_opacity: .2
              }
            });
            return false;
          }
          // /end validations

          $(this).prop( "disabled", true );
          putNewNotice();
          $(".modal-edit-notice").modal('hide');
        });
      });
    </script>

    <!-- PNotify
            <script>
      $(document).ready(function() {
        new PNotify({
          title: "PNotify",
          type: "info",
          text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
          nonblock: {
              nonblock: true
          },
          addclass: 'dark',
          styling: 'bootstrap3',
          hide: false,
          before_close: function(PNotify) {
            PNotify.update({
              title: PNotify.options.title + " - Enjoy your Stay",
              before_close: null
            });

            PNotify.queueRemove();

            return false;
          }
        });

      });
            </script>
           <!-- PNotify -->

    <!-- Custom Notification -->
    <script>
      $(document).ready(function() {
        var cnt = 10;

        TabbedNotification = function(options) {
          var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title + "</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

          if (!document.getElementById('custom_notifications')) {
            alert('doesnt exists');
          } else {
            $('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
            $('#custom_notifications #notif-group').append(message);
            cnt++;
            CustomTabs(options);
          }
        };

        CustomTabs = function(options) {
          $('.tabbed_notifications > div').hide();
          $('.tabbed_notifications > div:first-of-type').show();
          $('#custom_notifications').removeClass('dsp_none');
          $('.notifications a').click(function(e) {
            e.preventDefault();
            var $this = $(this),
              tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
              others = $this.closest('li').siblings().children('a'),
              target = $this.attr('href');
            others.removeClass('active');
            $this.addClass('active');
            $(tabbed_notifications).children('div').hide();
            $(target).show();
          });
        };

        CustomTabs();

        var tabid = idname = '';

        $(document).on('click', '.notification_close', function(e) {
          idname = $(this).parent().parent().attr("id");
          tabid = idname.substr(-2);
          $('#ntf' + tabid).remove();
          $('#ntlink' + tabid).parent().remove();
          $('.notifications a').first().addClass('active');
          $('#notif-group div').first().css('display', 'block');
        });
      });
    </script>
    <!-- /Custom Notification -->
  </body>
</html>
