<p>Hello <%= name %>,</p>

<p>
You can login into our site (http://app.smartechsociety.com) using the following credentials: <br/>
<strong>Username:</strong> <%= email %> <br/>
<strong>Password:</strong> <%= password %>
</p>
