<p>
  Question: <%= question %>
</p>
<p>
  Options: <br/>
  <ul>
    <% options.forEach(function (opt) { %>
      <li><%= opt %></li>
    <% }) %>
  </ul>
</p>
<% if (endsOn !== null) { %>
<p>
  Poll Closes on: <%= endsOn %>
</p>
<% } %>
<br/></br>
-- Society Manager
